html {
    background-color: #005F69;
    font-family: 'PT Sans', sans-serif;
}
#title-banner {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    margin-left: 14%; 
}
#peacock-left img {
    width: 150px;
}
#peacock-right img {
    width: 150px;
}
#title {
    font-family: 'Petrona', serif;
    font-size: 45px;
    line-height: 51px;
    text-align: center;
    color: #84DCC6;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 700px;
    margin-left: 26%;

}
.navbar-items {
    font-family: 'Petrona', serif;
    color: #A2BCE0;
    font-size: 25px;
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 10px;
    
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #A2BCE0;
}

.navbar-items:hover {
    border: 2px solid  #A2BCE0;
    cursor: pointer;
}
.navbar-items:active {
    border: 4px solid  #A2BCE0;
    cursor: pointer;
}


.hidden {
    visibility: hidden;
}



#carousel-box {
    padding-top: 50px;
    width: 960px;
    height: 780px;
    background-color: #006E7A;
    margin: 0 auto;
}

#carousel-wrapper {
    width: 960px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#caption {
    margin-top: 50px;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

#carousel-image-row {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: 0.5s all;
    
}

#carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#carousel,
.carousel-image {
  width: 650px;
  height: 400px;
}


#carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
#button-next, #button-previous {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
#caption {
    font-family: Petrona;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #D6EDFF;
    margin-left: 0;
    
}